@tailwind base;
@tailwind components;
@tailwind utilities;

/* ใช้ความสูงได้ไม่จำกัด */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-y: auto;
  /* ให้หน้าเว็บเลื่อนได้อิสระ */
  background-color: #f3f4f6;
  /* พื้นหลังสีเทาอ่อน */
  font-family: Arial, sans-serif;
}

/* ปรับ Scrollbar ให้ดูดี */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}